<%- partial('_partial/head') %>
<%- partial('_partial/bdstate') %>
<body>
  <div id="container">
    <div id="wrap">
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <div class="outer">
        <section id="main"><%- body %></section>
        <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
          <!-- Weather Plug-->
              <form id="search-form">
                  <div class="tipue_search_left"><img src="<%- config.root %>tipuesearch/search.png" class="tipue_search_icon"></div>
                  <div class="tipue_search_right" style="width:80%;"><input  type="text" name="q" id="tipue_search_input" autocomplete="off" required placeholder="<%= __('search') %>" style="width:80%;" /></div>
              </form>
              <div id="tipue_search_content"></div>
        <% } %>

        <!--git talk-->
        <section id="main">
          <%- partial('_partial/gitcomment', null, {cache: !config.relative_link}) %>
        </section>
        <!-- Gitalk end -->

      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>
